<div class="container mt-5">
    <h2 class="text-center">Actividades Destacadas</h2>
    <p class="text-center lead">
      Explora actividades y encuentra compañeros para ejercitarte.
    </p>
  
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/yogacom.jpg" class="card-img-top" alt="Yoga">
          <div class="card-body">
            <h5 class="card-title">Yoga en el parque</h5>
            <p class="card-text">Conecta con personas para practicar yoga al aire libre.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <img src="assets/compañero.jpg" class="card-img-top" alt="Ciclismo">
          <div class="card-body">
            <h5 class="card-title">Ciclismo urbano</h5>
            <p class="card-text">Únete a rutas de ciclismo y conoce a otros ciclistas.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <img src="assets/gimnasio.jpg" class="card-img-top" alt="Gimnasio">
          <div class="card-body">
            <h5 class="card-title">Entrenamiento en gimnasio</h5>
            <p class="card-text">Encuentra compañeros para entrenar juntos en el gimnasio.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  